@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rochester&display=swap");

:root {
  --green: rgb(76 105 61);
  --white: rgb(244, 242, 242);
  --height: 50px;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.gradient {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    356deg,
    rgb(59 211 46 / 16%) 0%,
    rgb(100 124 152 / 11%) 37%,
    rgb(96 162 237 / 30%) 50%,
    rgb(91 120 208 / 50%) 100%
  );
}

.main {
  background-image: url("../assets/images/background.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--white);
}

.texts {
  width: 70vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 23%;
  left: 10%;
  z-index: 3;
}

.title {
  font-size: 5.5em;
  font-weight: 800;
}
.sub-title {
  font-size: 1.4em;
}

span {
  /* color: var(--green); */
}

.btn-predict,
.picker {
  background-color: var(--white);
  height: var(--height);

  border-radius: 7px;
  color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 600;
  margin: 0.3em 0;
  border: none;
}

.btn-predict {
  color: var(--white);
  background-color: var(--green);
  width: 130px;
  transition: all 0.5s ease;
}

.picker {
  border-color: transparent;
  padding: 0 1.2em;
  margin-right: 0.7em;
  width: 200px;
}

.date-text-title {
  margin-top: 1em;
  font-size: 1.3em;
}

.form {
  display: flex;
  align-items: baseline;
}

.date_time_picker {
  margin-top: 1.5em;
}

input {
  font-family: "Roboto Condensed", sans-serif;
}

.taxi {
  position: absolute;
  height: 300px;
  transition: left 5s ease-in-out;
  bottom: 0;
  left: -100%;
}

.drive1 {
  left: 200%;
}

.drive2 {
  left: -200%;
  -webkit-transform: scaleX(-1);
  transform: scale(2) scaleX(-1);
}

.drive3 {
  left: 25%;
  transform: scale(2);
}

.transition {
  transition: all 2s ease;
}

.btn-predict-result {
  width: 70vw;
  height: 70vh;
}

/* .large {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
} */

.btn-predict-hover:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.btn-predict-result {
  background-color: var(--white);
  transform: scale(4);
  transition: all 2s ease;
}

#audio {
  visibility: hidden;
  position: absolute;
}

.result {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show {
  visibility: visible;
}

.show-text {
  font-size: 10em;
  margin-top: -2em;
  color: black;
  visibility: unset;
  opacity: 1;
  font-family: "Rochester", cursive;
  transition: all 5s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn-back {
  /* position: absolute;
  top: ; */

  width: 250px;
  height: 50px;
  background-color: rgb(52 52 53);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.btn-bac:hover {
  transform: scale(0.9);
  cursor: pointer;
}
